        <td>  
            <div class="field">
                <%= form.collection_select :medicine_id, Medicine.all, :id, :name %>
            </div>
        </td>
        <td>  
            <div class="field">
                <%= form.text_field :cost %>
            </div>
        </td>
        <td>  
            <div class="field">
                <%= form.text_field :quantity %>
            </div>
        </td>
        <td>  
            <div class="field">
                <%= form.text_field :amount %>
            </div>
        </td>
